@font-face {
  font-family: 'Proxima';
  src: url(../fonts/proximanova-regular-webfont.eot?1307578394);
  src: url('../fonts/proximanova-regular-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-regular-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-regular-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'Proxima';
  font-style: italic;
  src: url(../fonts/proximanova-regitalic-webfont.eot?1307578394);
  src: url('../fonts/proximanova-regitalic-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-regitalic-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-regitalic-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-regitalic-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'Proxima';
  font-weight: 300;
  src: url(../fonts/proximanova-light-webfont.eot?1307578394);
  src: url('../fonts/proximanova-light-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-light-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-light-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-light-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'Proxima';
  font-weight: 600;
  src: url(../fonts/proximanova-semibold-webfont.eot?1307578394);
  src: url('../fonts/proximanova-semibold-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-semibold-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-semibold-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-semibold-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'Proxima';
  font-weight: 600;
  font-style: italic;
  src: url(../fonts/proximanova-semibolditalic-webfont.eot?1307578394);
  src: url('../fonts/proximanova-semibolditalic-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-semibolditalic-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-semibolditalic-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'Proxima';
  font-weight: bold;
  src: url(../fonts/proximanova-bold-webfont.eot?1307578394);
  src: url('../fonts/proximanova-bold-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-bold-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-bold-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-bold-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'Proxima';
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/proximanova-boldit-webfont.eot?1307578394);
  src: url('../fonts/proximanova-boldit-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-boldit-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-boldit-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-boldit-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'Proxima';
  font-weight: 900;
  src: url(../fonts/proximanova-extrabold-webfont.eot?1307578394);
  src: url('../fonts/proximanova-extrabold-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-extrabold-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-extrabold-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-extrabold-webfont.svg#webfont2rpW2ohz') format('svg');
}
body,
h1,
a,
h2,
h3,
h4,
h5,
p,
ul,
div {
  font-family: "Proxima", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input,
button,
select,
textarea {
  font-family: "Proxima", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-search .search-query {
  font-family: "PlutoSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.text-white {
  color: #ffffff;
}
.text-lightGray {
  color: #6f7d95;
}
.text-gray {
  color: #344051;
}
.text-mediumGray {
  color: #566277;
}
.text-blue{
	color: #20cdd1;
}



.align-center{
  text-align: center;
}
.margin-top{
  padding-top: 40px;
}
.margin-extratop{
  padding-top: 80px;
}
.margin-smalltop{
  padding-top: 20px;
}



.back-gray{
  padding-top: 70px;
  background: #f5fafd;
}
.nav{
	padding-top: 30px;
	padding-bottom: 20px;
	background: #fff;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
}


.header{
	background:url(../img/background.jpg) no-repeat top center;;
	padding-top: 120px;
	padding-bottom: 110px;
  background-size: 100%;
  width: 100%
}
.header h4{
	padding-bottom: 20px;
}

.banner{
	background: #ebf1f5;
	padding-top: 30px;
	padding-bottom: 10px;
}
#form2 textarea,
#form2 input,
#form2 select {
  background: rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
}
.modulos{
	padding-top: 60px;
}
.precios{
  padding-top: 60px;
  padding-bottom: 80px;
}
.price-box hr{
  width: 20px;
  border-color: #284a5b;
}
.price-box{
  padding: 10px 5px 40px;
  background: #d9e3eb;
  border-radius: 5px;
}
.border-box{
  border-top: 3px solid #1fcdd1;
}
.contacto{
	background: #f5fafd;
	padding-top: 40px;
	padding-bottom: 80px;
}
.contacto hr{
  margin-top: 10px;
}
.social{
  background: #1fcdd1;
  padding-top: 20px;
  padding-bottom: 30px;
}
.social h3{
  letter-spacing: 3px;
}
.social a {
  padding-right: 15px;
}
.footer{
	background: #284a5b;
	padding-top: 30px;
	padding-bottom: 20px;
}
.footer p{
	font-size: 12px;
	text-align: left;
	color: #6f7d95;
}
.footer a{
  color: #fff;
  font-size:12px;
}
.gracias{
  padding-top: 80px;
  padding-bottom: 120px; 
  text-align: center;
}
.gracias h2{
  text-align: center;
  font-weight: bold;
}
.gracias img{
  padding-bottom: 20px;
}

h1{
	font-size: 38px;
  line-height: 48px;
  color: #284a5b;
}
h2{
	font-size: 24px;
  color: #284a5b; 
  font-weight: 300;
  line-height: 30px;
}
h3{
	font-size: 20px;
  color: #284a5b; 
  line-height: 26px;
}
h4{
	font-size: 18px;
  line-height: 25px;
	padding-bottom: 20px;
  color: #284a5b;
}
p{
	color: #284a5b;
  font-size: 15px;
}
hr{
  width: 300px;
  margin-top: 35px;
}

li a {
  font-size: 13px;
  letter-spacing: 1px;
  color: #284a5b;
  font-weight: bold;
  padding-right: 30px;

}
li a:hover {
  color: #20cdd1;
  text-decoration: none;
}
img.img-center {
  margin-right: auto;
  margin-left: auto;
  margin-top: -25px;
  display: block;
  padding-top: 40px;
  padding-bottom: 22px;
}
.btn-success {
  background-color: #284a5b;
  border-color: #284a5b;
  color: #fff;
  border-radius: 22px;
  padding: 8px 35px 8px 35px;
  border-width: 2px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
  width: 220px;
  margin-top: 30px;
}
.btn-success:hover {
  background-color: transparent;
  border-width: 2px;
  border-color: #284a5b;
  color: #284a5b;
  text-decoration: none;
}
.btn-secondary {
  background-color: #20cdd1;
  border-color: #20cdd1;
  color: #fff;
  border-radius: 17px;
  padding: 6px 12px 6px 12px;
  border-width: 2px;
  font-size: 12px;
  font-weight: bold;
  width: 150px;
  margin-top: 30px;
  margin-left: 25px;
}
.btn-secondary:hover {
  background-color: transparent;
  border-width: 2px;
  border-color: #20cdd1;
  color: #20cdd1;
  text-decoration: none;
}
.btn-default {
  background-color: transparent;
  border-color: #20cdd1;
  border-width: 2px;
  border-radius: 17px;
  padding: 6px 15px 6px 15px;
  font-size: 13px;
  color: #20cdd1;
  font-weight: bold;
  text-decoration: none;

}
.btn-default:hover {
  background-color: #20cdd1;
  border-color: transparent;
  color: #fff;
}
.btn-primary {
  background-color: transparent;
  border-color: #284a5b;
  border-width: 2px;
  border-radius: 17px;
  padding: 6px 15px 6px 15px;
  font-size: 13px;
  color: #284a5b;
  font-weight: bold;
  text-decoration: none;
}
.btn-primary:hover {
  background-color: #284a5b;
  border-color: transparent;
  color: #fff;
}
.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}

.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
    opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
    opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}
.mobile-hide {
    visibility: none;
    display: none;
  }
@media (max-width: 480px) {
  .mobile-hide a{
    display: none; }

   .modulos1 img{
    width: 100%
   } 
   .header{
    background: none;
    padding-top: 30px;
    padding-bottom: 30px;
   }
  }
